*.zip
*.tar
*.tar.*
*.tgz
*.rar
*.bak
*-bak
/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/history
/helm-adaptive-history
/thumbs/
/emms/
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/chinese-fonts-setup
/ede-projects.el
/lisp/init-local.el
/my-snippets/
/snippets/
/site-lisp/*
!/site-lisp/popup/
!/site-lisp/figlet/
!/site-lisp/sdcv/
/.python-environments/
/debug-init.el
/ido.last
/recentf
/viper
/irony/
/srecode-map.el
/projectile-bookmarks.eld
